@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

body {
  font-family: "Arvo", serif;
  background-color: #451a56;
  padding: 30px;
}

.clock_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 50px;
}

.digital_watch_container {
  width: 300px;
}

.digital_watch {
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-weight: 500;
  color: #98d8d8;
}

.day_of_the_week {
  text-align: center;
  font-size: 40px;
  margin: 0;
  color: #98d8d8;
}

.date {
  text-align: center;
  font-size: 25px;
  margin: 0;
  color: #98d8d8;
}

.timepiece {
  background-image: url(./1663277104.png);
  width: 500px;
  height: 500px;
  background-size: cover;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour_hand {
  position: absolute;
  width: 100px;
  border: 5px solid #0c0a10;
  border-radius: 6px;
  left: 45%;
  top: 50%;
  transform-origin: 22px 2px;
  background-color: #0c0a10;
}

.minute_hand {
  position: absolute;
  width: 160px;
  border: 3px solid #0c0a10;
  border-radius: 4px;
  left: 45%;
  top: 50%;
  transform-origin: 22px 2px;
  background-color: #0c0a10;
}

.second_hand {
  position: absolute;
  width: 195px;
  border: 2px solid #127c2c;
  border-radius: 2px;
  left: 45%;
  top: 50%;
  transform-origin: 22px 2px;
  background-color: #127c2c;
}

@media screen and (max-width: 940px) {
  .timepiece {
    width: 380px;
    height: 380px;
  }

  .digital_watch {
    font-size: 40px;
  }

  .day_of_the_week {
    font-size: 30px;
  }

  .date {
    font-size: 15px;
  }

  .hour_hand {
    width: 90px;
    border: 4.5px solid #0c0a10;
  }

  .minute_hand {
    width: 140px;
    border: 2.5px solid #0c0a10;
  }

  .second_hand {
    width: 180px;
    border: 2px solid #127c2c;
  }
}

@media screen and (max-width: 500px) {
  .timepiece {
    width: 250px;
    height: 250px;
  }

  .digital_watch {
    font-size: 30px;
  }

  .day_of_the_week {
    font-size: 20px;
  }

  .date {
    font-size: 10px;
  }

  .hour_hand {
    width: 60px;
    border: 4px solid #0c0a10;
  }

  .minute_hand {
    width: 110px;
    border: 2px solid #0c0a10;
  }

  .second_hand {
    width: 120px;
    border: 1px solid #127c2c;
  }
}

@media screen and (max-width: 340px) {
  .timepiece {
    width: 150px;
    height: 150px;
  }

  .digital_watch {
    font-size: 20px;
  }

  .day_of_the_week {
    font-size: 10px;
  }

  .date {
    font-size: 5px;
  }

  .hour_hand {
    width: 40px;
    border: 2px solid #0c0a10;
  }

  .minute_hand {
    width: 70px;
    border: 1px solid #0c0a10;
  }

  .second_hand {
    width: 75px;
    border: 0.5px solid #127c2c;
  }
}
